/* 전체태그 */
main {
    margin: 0 auto;
}
/* 배경 묶음태그 */
main .promotion_bg,main .special_bg,main .type_bg,main .room_bg,main .summary_bg {
    background: #222;
}
main .promotion_bg .promotion,main .special_bg .special,main .type_bg .type_wrap,main .room_bg .room {
    width: calc(100% - 240px);
    background: #fff;
    margin: 0 auto; /* !!!!!!!!!!!!!!!! */
}
/* wrap 태그모음 */
main .special_bg .special .special_wrap,
main .type_bg .type_wrap,
main .room_bg .room .room_a .img_wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}
/* main 기본태그모음 */
main .title_bg {
    background: url(../images/title.jpg) no-repeat fixed center;
    background-size: cover;
    padding: 230px 0 100px 0;
    position: relative;
}
main .title_bg::after {
    content: '';
    display: block;
    height: 1799px;
    width: 100%;
    background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    left: 0; top: 0;
}
/* 후쿠오카 유후인 */
main .title_bg .title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 300px;
}
main .title_bg .title h2,main .title_bg .title h1 {
    font-family:'소미체_타이틀';
    color: #fff;
    letter-spacing: -0.02em;
    z-index: 200;
}
main .title_bg .title h2 {
    font-size: 5rem;
    letter-spacing: -0.02em;
}
main .title_bg .title h1 {
    font-size: 10rem;
    letter-spacing: -0.02em;
}
main .title_bg .title p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.333rem;
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    margin-top: 30px;
    letter-spacing: -0.02em;
    z-index: 200;
}
/* youtube */
main .title_bg .ryokan_video {
    text-align: center;
}
main .title_bg .ryokan_video iframe {
    width: 1200px; height: 783px;
    padding: 50px;
    background: #fff;
    z-index: 300; /* !!!!!!!!!!!!!!!!11 */
}
/* 프로모션 */
main .promotion_bg {}
main .promotion_bg .promotion {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 100px 0;
}
main .promotion_bg .promotion .p_title {}
main .promotion_bg .promotion .p_title h2 {
    font-family:'소미체_타이틀';
    font-size: 3.157rem;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    color: #F1C550;
    text-align: center;
}
main .promotion_bg .promotion .p_title h3 {
    font-family:'강원교육_서브타이틀';
    font-size: 3.157rem;
    letter-spacing: -0.02em;
}
main .promotion_bg .promotion .promotion_box {
    background: url(../images/promotion.png) no-repeat center;
    width: 950px;
    margin: 50px 0;
    /* !!!!!!!!!!!!!!!!!! img drop shadow */
}
main .promotion_bg .promotion .promotion_box p {
    font-size: 1.777rem;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}
main .promotion_bg .promotion .promotion_box .btm {
    padding: 70px 100px;
}
main .promotion_bg .promotion .promotion_box .btm .package {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
main .promotion_bg .promotion .promotion_box .btm .package h3 {
    font-family:'강원교육튼튼_서브타이틀'; /* !!!!!!!!!!!!!!!!! */
    font-size: 3.157rem;
}
main .promotion_bg .promotion .promotion_box .btm .package .period {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* margin: 30px; */
    border-bottom: 1px dashed #ccc;
    padding: 30px;
}
main .promotion_bg .promotion .promotion_box .btm .package .period em {
    background: #FFF9E0;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 1.777rem;
    font-weight: 700;
    margin-right: 20px;
    letter-spacing: -0.02em;
}
main .promotion_bg .promotion .promotion_box .btm .package .period span {
    font-size: 1.777rem;
    letter-spacing: -0.02em;
}
main .promotion_bg .promotion .promotion_box .btm .sale {
    margin-top: 40px;
}
main .promotion_bg .promotion .promotion_box .btm .sale span {
    background: #A1C45A;
    border-radius: 20px;
    padding: 10px 20px;
    letter-spacing: -0.03em;
    font-size: 1.333rem;
    font-weight: 700;/* !!!!!!!!!!!!!!!!! 피그마에서 600이라 자간 변경 */
    color: #fff;
}
main .promotion_bg .promotion .btn {
    background: #EA4C4C;
    border-radius: 50px;
    padding: 30px 100px;
    font-size: 1.777rem;
    font-weight: 700;
    color: #fff;
}
/* 중제목 태그모음 */
main > section > div > h3 {
    background: #EA4C4C;
    padding: 30px;
    font-family:'강원교육_서브타이틀';
    font-size: 3.157rem;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 100px;
    text-align: center;
}
/* 료칸 내 특별한 경험 */
main .special_bg {}
main .special_bg .special {
    margin-bottom: 100px;
}
main .special_bg .special > h3 {}
main .special_bg .special .special_wrap {
    margin: 100px 0;
}
/* special contents 태그모음 */
main .special_bg .special .special_wrap div {
    width: 1100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* special img 태그모음 */
main .special_bg .special .special_wrap div .contents_img {
    width: 400px; height: 400px;
}
main .special_bg .special .special_wrap div .contents_img img {width: 100%;}
/* special desc 태그모음 */
main .special_bg .special .special_wrap div .desc {
    width: 550px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
main .special_bg .special .special_wrap div .desc h3 {
    font-family:'강원교육_서브타이틀';
    font-size: 2.369rem;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
}
main .special_bg .special .special_wrap div .desc p {
    font-size: 1.3rem;
    line-height: 36px;
    letter-spacing: -0.02em;
}
/* special 기본태그모음 */
main .special_bg .special .special_wrap .contents1 {}
main .special_bg .special .special_wrap .contents1 .contents_img {}
main .special_bg .special .special_wrap .contents1 .contents_img img {}
main .special_bg .special .special_wrap .contents1 .desc {}
main .special_bg .special .special_wrap .contents1 .desc h3 {}
main .special_bg .special .special_wrap .contents1 .desc p {}
main .special_bg .special .special_wrap .contents2 {}
main .special_bg .special .special_wrap .contents2 .contents_img {}
main .special_bg .special .special_wrap .contents2 .contents_img img {}
main .special_bg .special .special_wrap .contents2 .desc {}
main .special_bg .special .special_wrap .contents2 .desc h3 {}
main .special_bg .special .special_wrap .contents2 .desc p {}
main .special_bg .special .special_wrap .contents3 {}
main .special_bg .special .special_wrap .contents3 .contents_img {}
main .special_bg .special .special_wrap .contents3 .contents_img img {}
main .special_bg .special .special_wrap .contents3 .desc {}
main .special_bg .special .special_wrap .contents3 .desc h3 {}
main .special_bg .special .special_wrap .contents3 .desc p {}
/* 료칸 객실 태그모음 */
main .type_bg .type_wrap .room_type > div {
    width: 1100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
main .type_bg .type_wrap .room_type > div .room_img {
    margin-right: 65px;
}
main .type_bg .type_wrap .room_type > div .room_img img {
    width: 200px; height: 200px;
    border-radius: 20px;
}
main .type_bg .type_wrap .room_type div .type_desc .type_title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 835px;
}
main .type_bg .type_wrap .room_type div .type_desc .type_title em {
    font-size: 2.350rem;
}
main .type_bg .type_wrap .room_type div .type_desc .type_title span:nth-child(2) {
    font-size: 2.350rem;
    letter-spacing: -0.02em;
    font-weight: 700;
    margin: 0 10px 0 20px;
}
main .type_bg .type_wrap .room_type div .type_desc .type_title span:last-child {
    font-size: 1.777rem;
    letter-spacing: -0.02em;
    font-weight: 700;
}
main .type_bg .type_wrap .room_type div .type_desc p {}
main .type_bg .type_wrap .room_type div .type_desc .price {}
main .type_bg .type_wrap .room_type div .type_desc .price em {}
main .type_bg .type_wrap .room_type div .type_desc .price del {}
main .type_bg .type_wrap .room_type div .type_desc .price span {}
/* 료칸 객실 기본태그모음 */
main .type_bg {}
main .type_bg .type_wrap {}
main .type_bg .type_wrap h3 {}
main .type_bg .type_wrap .room_type {}
main .type_bg .type_wrap .room_type .a {}
main .type_bg .type_wrap .room_type .a .room_img {}
main .type_bg .type_wrap .room_type .a .room_img img {}
main .type_bg .type_wrap .room_type .a .type_desc {}
main .type_bg .type_wrap .room_type .a .type_desc .type_title {}
main .type_bg .type_wrap .room_type .a .type_desc .type_title em {color: #F1C550;}
main .type_bg .type_wrap .room_type .a .type_desc .type_title span {}
main .type_bg .type_wrap .room_type .a .type_desc p {}
main .type_bg .type_wrap .room_type .a .type_desc .price {}
main .type_bg .type_wrap .room_type .a .type_desc .price em {}
main .type_bg .type_wrap .room_type .a .type_desc .price del {}
main .type_bg .type_wrap .room_type .a .type_desc .price span {}
main .type_bg .type_wrap .room_type .b {}
main .type_bg .type_wrap .room_type .b .room_img {}
main .type_bg .type_wrap .room_type .b .room_img img {}
main .type_bg .type_wrap .room_type .b .type_desc {}
main .type_bg .type_wrap .room_type .b .type_desc .type_title {}
main .type_bg .type_wrap .room_type .b .type_desc .type_title em {color: #A1C45A;}
main .type_bg .type_wrap .room_type .b .type_desc .type_title span {}
main .type_bg .type_wrap .room_type .b .type_desc p {}
main .type_bg .type_wrap .room_type .b .type_desc .price {}
main .type_bg .type_wrap .room_type .b .type_desc .price em {}
main .type_bg .type_wrap .room_type .b .type_desc .price del {}
main .type_bg .type_wrap .room_type .b .type_desc .price span {}
main .type_bg .type_wrap .reservation {}
main .type_bg .type_wrap .reservation fieldset {}
main .type_bg .type_wrap .reservation fieldset ul {}
main .type_bg .type_wrap .reservation fieldset ul .select1 {}
main .type_bg .type_wrap .reservation fieldset ul .select1 img {}
main .type_bg .type_wrap .reservation fieldset ul .select1 #room_select {}
main .type_bg .type_wrap .reservation fieldset ul .select1 #room_select option {}
main .type_bg .type_wrap .reservation fieldset ul .select2 {}
main .type_bg .type_wrap .reservation fieldset ul .select2 img {}
main .type_bg .type_wrap .reservation fieldset ul .select2 #date_select {}
main .type_bg .type_wrap .reservation fieldset ul .select3 {}
main .type_bg .type_wrap .reservation fieldset ul .select3 img {}
main .type_bg .type_wrap .reservation fieldset ul .select3 span {}
main .type_bg .type_wrap .reservation fieldset ul .select3 button {}
main .type_bg .type_wrap .reservation fieldset ul .select3 button img {}
main .type_bg .type_wrap .reservation fieldset ul .select3 em {}
main .type_bg .type_wrap .reservation fieldset .reservation_btn {}
/* 객실 소개 */
main .room_bg {}
main .room_bg .room {}
main .room_bg .room .room_a {}
main .room_bg .room .room_a .title {}
main .room_bg .room .room_a .title h3 {}
main .room_bg .room .room_a .title p {}
main .room_bg .room .room_a .img_wrap {}
main .room_bg .room .room_a .img_wrap img {}
main .room_bg .room .room_a .img_wrap .center {}
main .room_bg .room .room_a .img_wrap .center img {}
main .room_bg .room .room_b {}
main .room_bg .room .room_b .title {}
main .room_bg .room .room_b .title h3 {}
main .room_bg .room .room_b .title p {}
main .room_bg .room .room_b .img_wrap {}
main .room_bg .room .room_b .img_wrap img {}
main .room_bg .room .room_b .img_wrap .center {}
main .room_bg .room .room_b .img_wrap .center img {}
/* 요약 */
main .summary_bg {}
main .summary_bg .summary {}
main .summary_bg .summary p {}
/* footer */
footer {}
footer .notice {}
footer .notice p {}
footer .notice ul {}
footer .notice ul li {}
footer .cancel {}
footer .cancel p {}
footer .cancel ul {}
footer .cancel ul li {}
/* 반응형 웹조건 */
/* @media(max-width:744px) {
    main {
        width: calc(100% - 220px);
        font-size: 50%;
    }
} */