/* 버튼 transform/transition 활용하기!!!!!!!!!!!!!!!!!!!!!!! */
/* 전체태그 */
main {
    margin: 0 auto;
    background: #222;
}
/* 배경 묶음태그 */
main .promotion_bg,main .special_bg,main .type_bg,main .room_bg,main .summary_bg {}
main .promotion_bg .promotion,main .special_bg .special,main .type_bg .type_wrap,main .room_bg .room, footer {
    width: calc(100% - 240px);
    background: #fff;
    margin: 0 auto; /* !!!!!!!!!!!!!!!! */
}
/* wrap 태그모음 */
main .special_bg .special .special_wrap,
main .type_bg .type_wrap,
main .room_bg .room .room_a .img_wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}
/* main 기본태그모음 */
main .title_bg {
    background: url(../images/title.jpg) no-repeat fixed center;
    background-size: cover;
    padding: 230px 0 100px 0;
    position: relative;
}
main .title_bg::after {
    content: '';
    display: block;
    height: 1799px;
    width: 100%;
    background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    left: 0; top: 0;
    z-index: 50;
}
/* 후쿠오카 유후인 */
main .title_bg .title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 300px;
}
main .title_bg .title h2,main .title_bg .title h1 {
    font-family:'소미체_타이틀';
    color: #fff;
    letter-spacing: -0.02em;
    position: relative;
    z-index: 200;
}
main .title_bg .title h2 {
    font-size: 5rem;
    letter-spacing: -0.02em;
    animation: title 1s linear alternate both;
}
main .title_bg .title h1 {
    font-size: 10rem;
    letter-spacing: -0.02em;
    animation: title 1s 0.8s linear alternate both;
}
main .title_bg .title p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.333rem;
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    margin-top: 30px;
    letter-spacing: -0.02em;
    z-index: 200;
    animation: title 1s 1.6s linear both;
}
@keyframes title {
    0% {transform: translateY(30px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}
/* youtube */
main .title_bg .ryokan_video {
    text-align: center;
}
main .title_bg .ryokan_video iframe {
    width: 1200px; height: 783px;
    padding: 50px;
    background: #fff;
    position: relative;
    z-index: 300;
}
/* 프로모션 */
main .promotion_bg {}
main .promotion_bg .promotion {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 100px 0;
}
main .promotion_bg .promotion .p_title {}
main .promotion_bg .promotion .p_title h2 {
    font-family:'소미체_타이틀';
    font-size: 3.157rem;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    color: #F1C550;
    text-align: center;
}
main .promotion_bg .promotion .p_title h3 {
    font-family:'티몬_서브타이틀';
    font-size: 3.157rem;
    letter-spacing: -0.02em;
}
main .promotion_bg .promotion .promotion_box {
    background: url(../images/promotion.png) no-repeat center;
    background-size: 100%;
    width: 950px;
    margin: 50px 0;
    padding: 10px 0;
    filter: drop-shadow(0 2px 10px rgba(0,0,0,0.2));
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
    /* !!!!!!!!!!!!!!!!!! img drop shadow */
}
main .promotion_bg .promotion .promotion_box p {
    font-size: 1.777rem;
    color: #fff;
    font-weight: 900;
    padding: 40px 0;
    text-align: center;
}
main .promotion_bg .promotion .promotion_box .btm {
    padding: 63px 100px;
}
main .promotion_bg .promotion .promotion_box .btm .package {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
main .promotion_bg .promotion .promotion_box .btm .package h3 {
    font-family:'티몬_서브타이틀';
    font-size: 3.157rem;
}
main .promotion_bg .promotion .promotion_box .btm .package .period {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* margin: 30px; */
    border-bottom: 1px dashed #ccc;
    padding: 30px;
}
main .promotion_bg .promotion .promotion_box .btm .package .period em {
    background: #FFF9E0;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 1.777rem;
    font-weight: 700;
    margin-right: 20px;
    letter-spacing: -0.02em;
}
main .promotion_bg .promotion .promotion_box .btm .package .period span {
    font-size: 1.777rem;
    letter-spacing: -0.02em;
}
main .promotion_bg .promotion .promotion_box .btm .sale {
    margin: 50px 0 12px 0;
}
main .promotion_bg .promotion .promotion_box .btm .sale span {
    background: #A1C45A;
    border-radius: 20px;
    padding: 10px 20px;
    letter-spacing: -0.03em;
    font-size: 1.333rem;
    font-weight: 700;/* !!!!!!!!!!!!!!!!! 피그마에서 600이라 자간 변경 */
    color: #fff;
}
main .promotion_bg .promotion .btn {
    background: #EA4C4C;
    border-radius: 50px;
    padding: 30px 100px;
    font-size: 1.777rem;
    font-weight: 700;
    color: #fff;
    transition: all 0.1s linear;
}
main .promotion_bg .promotion .btn:hover {
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    transform: scale(1.03);
}
/* 중제목 태그모음 */
main > section > div > h3 {
    background: #EA4C4C;
    padding: 30px;
    font-family:'티몬_서브타이틀';
    font-size: 3.157rem;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 100px;
    text-align: center;
    width: 100%;
}
/* 료칸 내 특별한 경험 */
main .special_bg {}
main .special_bg .special {
    padding-bottom: 100px;
}
main .special_bg .special > h3 {}
main .special_bg .special .special_wrap {
}
/* special contents 태그모음 */
main .special_bg .special .special_wrap div {
    width: 1100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* special img 태그모음 */
main .special_bg .special .special_wrap div .contents_img {
    width: 400px; height: 400px;
}
main .special_bg .special .special_wrap div .contents_img img {
    width: 100%; height: 100%;
}
/* special desc 태그모음 */
main .special_bg .special .special_wrap div .desc {
    width: 550px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
main .special_bg .special .special_wrap div .desc h3 {
    font-family:'티몬_서브타이틀';
    font-size: 2.369rem;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
}
main .special_bg .special .special_wrap div .desc p {
    font-size: 1.3rem;
    line-height: 36px;
    letter-spacing: -0.02em;
}
main .special_bg .special .special_wrap div:nth-child(2) .desc h3 {
    width: 550px;
    text-align: right;
}
main .special_bg .special .special_wrap div:nth-child(2) .desc p {
    text-align: right;
}
/* special 기본태그모음 */
main .special_bg .special .special_wrap .contents1 {}
main .special_bg .special .special_wrap .contents1 .contents_img {}
main .special_bg .special .special_wrap .contents1 .contents_img img {}
main .special_bg .special .special_wrap .contents1 .desc {}
main .special_bg .special .special_wrap .contents1 .desc h3 {}
main .special_bg .special .special_wrap .contents1 .desc p {}
main .special_bg .special .special_wrap .contents2 {}
main .special_bg .special .special_wrap .contents2 .contents_img {}
main .special_bg .special .special_wrap .contents2 .contents_img img {}
main .special_bg .special .special_wrap .contents2 .desc {}
main .special_bg .special .special_wrap .contents2 .desc h3 {}
main .special_bg .special .special_wrap .contents2 .desc p {}
main .special_bg .special .special_wrap .contents3 {}
main .special_bg .special .special_wrap .contents3 .contents_img {}
main .special_bg .special .special_wrap .contents3 .contents_img img {}
main .special_bg .special .special_wrap .contents3 .desc {}
main .special_bg .special .special_wrap .contents3 .desc h3 {}
main .special_bg .special .special_wrap .contents3 .desc p {}
/* 료칸 객실 통합 태그모음 */
main .type_bg .type_wrap .room_type > div {
    width: 1100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
}
main .type_bg .type_wrap .room_type > div .room_img {
    margin-right: 65px; width: 200px; height: 200px;
}
main .type_bg .type_wrap .room_type > div .room_img img {
    width:100%; height: 100%;
    border-radius: 20px;
}
main .type_bg .type_wrap .room_type div .type_desc {}
main .type_bg .type_wrap .room_type div .type_desc .type_title {}
main .type_bg .type_wrap .room_type div .type_desc .type_title em {
    font-family:'티몬_서브타이틀';
    font-size: 2.1rem; 
}
main .type_bg .type_wrap .room_type div .type_desc .type_title span:nth-child(2) {
    font-size: 2.1rem; /* !!!!!!!!!!!!!!!!폰트 사이즈 안맞아서 변경 */
    letter-spacing: -0.02em;
    font-weight: 700;
    margin: 0 10px 0 20px;
}
main .type_bg .type_wrap .room_type div .type_desc .type_title span:last-child {
    font-size: 1.5rem;
    letter-spacing: -0.02em;
    font-weight: 700;
}
main .type_bg .type_wrap .room_type div .type_desc p {
    font-size: 1.3rem;
    letter-spacing: -0.02em;
    margin: 20px 0 47px 55px;
}
main .type_bg .type_wrap .room_type div .type_desc .price {
    position: absolute;
    right: 0; bottom: 0;
}
main .type_bg .type_wrap .room_type div .type_desc .price em {
    font-size: 2.369rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #EA4C4C;
    margin-right: 20px;
}
main .type_bg .type_wrap .room_type div .type_desc .price del {
    font-size: 1.777rem;
    letter-spacing: -0.02em;
    color: #ccc;
    margin-right: 20px;
}
main .type_bg .type_wrap .room_type div .type_desc .price span:nth-child(3) {
    font-size: 3.157rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}
main .type_bg .type_wrap .room_type div .type_desc .price span:nth-child(4) {
    font-size: 1.777rem;
}
/* 료칸 선택 버튼 태그 모음 */
main .type_bg .type_wrap .reservation {
    
}
main .type_bg .type_wrap .reservation fieldset {}
main .type_bg .type_wrap .reservation fieldset ul {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px 30px;
    width: 1100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main .type_bg .type_wrap .reservation fieldset ul li {
    width: 147px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main .type_bg .type_wrap .reservation fieldset ul li:first-child {width: 347px;}
main .type_bg .type_wrap .reservation fieldset ul li:nth-child(2) {width: 347px;}
main .type_bg .type_wrap .reservation fieldset ul li:last-child {width: 293px; border-right:none; padding-right: 0;}
main .type_bg .type_wrap .reservation fieldset ul li > img {width: 40px; height: 40px;}
/* 료칸 객실 기본태그모음 */
main .type_bg {}
main .type_bg .type_wrap {padding-bottom: 100px;}
main .type_bg .type_wrap h3 {}
main .type_bg .type_wrap .room_type {}
main .type_bg .type_wrap .room_type .a {}
main .type_bg .type_wrap .room_type .a .room_img {}
main .type_bg .type_wrap .room_type .a .room_img img {}
main .type_bg .type_wrap .room_type .a .type_desc {}
main .type_bg .type_wrap .room_type .a .type_desc .type_title {}
main .type_bg .type_wrap .room_type .a .type_desc .type_title em {color: #F1C550;}
main .type_bg .type_wrap .room_type .a .type_desc .type_title span {}
main .type_bg .type_wrap .room_type .a .type_desc p {}
main .type_bg .type_wrap .room_type .a .type_desc .price {}
main .type_bg .type_wrap .room_type .a .type_desc .price em {}
main .type_bg .type_wrap .room_type .a .type_desc .price del {}
main .type_bg .type_wrap .room_type .a .type_desc .price span {}
main .type_bg .type_wrap .room_type .b {}
main .type_bg .type_wrap .room_type .b .room_img {}
main .type_bg .type_wrap .room_type .b .room_img img {}
main .type_bg .type_wrap .room_type .b .type_desc {}
main .type_bg .type_wrap .room_type .b .type_desc .type_title {}
main .type_bg .type_wrap .room_type .b .type_desc .type_title em {color: #A1C45A;}
main .type_bg .type_wrap .room_type .b .type_desc .type_title span {}
main .type_bg .type_wrap .room_type .b .type_desc p {}
main .type_bg .type_wrap .room_type .b .type_desc .price {}
main .type_bg .type_wrap .room_type .b .type_desc .price em {}
main .type_bg .type_wrap .room_type .b .type_desc .price del {}
main .type_bg .type_wrap .room_type .b .type_desc .price span {}
main .type_bg .type_wrap .reservation {}
main .type_bg .type_wrap .reservation fieldset {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
main .type_bg .type_wrap .reservation fieldset ul {
    margin-bottom: 50px;
}
main .type_bg .type_wrap .reservation fieldset ul .select1 {}
main .type_bg .type_wrap .reservation fieldset ul .select1 img {}
main .type_bg .type_wrap .reservation fieldset ul .select1 #room_select {
    width: 267px; border-style: none;
    cursor: pointer;
    /* !!!!!!!!!!!!!!!!!!옵션창 높이 */
}
main .type_bg .type_wrap .reservation fieldset ul .select1 #room_select option {}
main .type_bg .type_wrap .reservation fieldset ul .select2 {}
main .type_bg .type_wrap .reservation fieldset ul .select2 img {}
main .type_bg .type_wrap .reservation fieldset ul .select2 #date_select {
    width: 267px;
    cursor: pointer;
    /* !!!!!!!!!!!!!!!!!!날짜 선택영역 */
}
main .type_bg .type_wrap .reservation fieldset ul .select3 {}
main .type_bg .type_wrap .reservation fieldset ul .select3 img {}
main .type_bg .type_wrap .reservation fieldset ul .select3 span {}
main .type_bg .type_wrap .reservation fieldset ul .select3 button {
    transition: all 0.1s linear;
}
main .type_bg .type_wrap .reservation fieldset ul .select3 button:hover {
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
main .type_bg .type_wrap .reservation fieldset ul .select3 button img {
    width: 30px; height: 30px;
}
main .type_bg .type_wrap .reservation fieldset ul .select3 em {}
main .type_bg .type_wrap .reservation fieldset .reservation_btn {
    background: #EA4C4C;
    border-radius: 50px;
    padding: 30px 100px;
    font-size: 1.777rem;
    font-weight: 700;
    color: #fff;
    transition: all 0.1s linear;
}
main .type_bg .type_wrap .reservation fieldset .reservation_btn:hover {
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    transform: scale(1.03);
}
/* 객실 소개 통합 태그모음 */
main .room_bg .room > div > .title {
    padding: 100px 0;
    text-align: center;
}
main .room_bg .room > div > .title h3 {
    width: 626px; height: 173px;
    display: inline-block;
}
/* main .room_bg .room > div > .title h3 > img {
    width: 100%;
} */
main .room_bg .room > div > .title h3 {
    font-family:'소미체_타이틀';
    font-size: 7.5rem;
    font-weight: 400;
    padding-bottom: 20px;
}
@keyframes text_bg {
    0% {background-position: 0 0;}
    100% {background-position: 400% 0;}
}
main .room_bg .room > div > .title p {
    color: #FFF;
    font-size: 1.777rem;
    font-weight: 600;
    letter-spacing: -0.02em;
}
main .room_bg .room > div > .img_wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
main .room_bg .room > div > .img_wrap > img {width: 100%; height: 100%;}
main .room_bg .room > div > .img_wrap .center {margin: 30px 0; width: calc(50% - 30px / 2);}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* 객실 소개 */
main .room_bg {}
main .room_bg .room {
    background: #222;
}
main .room_bg .room .room_a {}
main .room_bg .room .room_a .title {}
main .room_bg .room .room_a .title h3 {
    background: linear-gradient(90deg, #F1C550, #F18A50, #F1C550);
    -webkit-background-clip: text; /* 클리핑마스크 같은 기능 */
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: text_bg 10s linear alternate infinite;
}
main .room_bg .room .room_a .title p {}
main .room_bg .room .room_a .img_wrap {}
main .room_bg .room .room_a .img_wrap > img {}
main .room_bg .room .room_a .img_wrap .center {}
main .room_bg .room .room_a .img_wrap .center img {}
main .room_bg .room .room_b {}
main .room_bg .room .room_b .title {}
main .room_bg .room .room_b .title h3 {
    background: linear-gradient(90deg, #A1C45A, #5AB7C4, #A1C45A);
    -webkit-background-clip: text; /* 클리핑마스크 같은 기능 */
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: text_bg 10s linear alternate infinite;
}
main .room_bg .room .room_b .title p {}
main .room_bg .room .room_b .img_wrap {}
main .room_bg .room .room_b .img_wrap img {}
main .room_bg .room .room_b .img_wrap .center {}
main .room_bg .room .room_b .img_wrap .center img {}
/* 요약 */
main .summary_bg {
    background: url(../images/summary.jpg);
    background-size: cover;
    height: 754px;
    position: relative;
    padding: 250px 0;
}
main .summary_bg::after {
    content: '';
    display: block;
    height: 754px;
    width: 100%;
    background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    left: 0; top: 0;
    z-index: 50;
}
main .summary_bg .summary {
    background: rgba(0,0,0,0.5);
    position: relative;
    z-index: 100;
    padding: 50px 0;
}
main .summary_bg .summary p {
    color: #fff;
    position: relative;
    z-index: 200;
    text-align: center;
}
main .summary_bg .summary p:first-child {
    font-family:'소미체_타이틀';
    font-size: 3.157rem;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
}
main .summary_bg .summary p:last-child {
    letter-spacing: -0.02em;
    font-size: 1.333rem;
    line-height: 36px;
}
/* footer 통합 태그모음 */
footer div p {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}
footer div ul li {
    letter-spacing: -0.02em;
    margin-bottom: 10px;
}
footer div ul li:last-child {margin-bottom: 0;}
/* footer */
footer {padding: 100px 0;}
footer .notice {margin-bottom: 50px;}
footer .notice p {}
footer .notice ul {}
footer .notice ul li {}
footer .cancel {}
footer .cancel p {}
footer .cancel ul {}
footer .cancel ul li {}
/* 반응형 웹조건 */
/* @media(max-width:744px) {
    main {
        width: calc(100% - 220px);
        font-size: 50%;
    }
} */